node_modules/
.env
.env.*
dist/
build/
.next/
coverage/
*.log
.DS_Store

# Virtual Environments
venv/
env/
.venv/
__pycache__/
*.pyc

# Expo/React Native
.expo/
# Ignore all expo build outputs
dist/
# Crashlytics path/files
android/app/crashlytics-build.properties
android/app/src/main/assets/crashlytics-build.properties
